body {
    max-width: 100vw;
    min-height: 100vh;
    /* border: 1px solid rgb(208, 10, 10); */
    color: white;
    padding: 20px 20px;
    margin: 0px;
}

/* ///// --------------------------------------landing pages  */
.landing {
    width: 100%;
    height: 80%;
    background: linear-gradient(135deg, #d4ede6 0%, #eaf5f1 50%, #f5faf7 100%);
    /* border: 2px solid black; */
}

.navbar {
    /* border: 2px solid black;  */
    display: flex;
    justify-content: space-around;
    margin: 20px 120px;
}

.logo{
    color: #54BD95;
    font-size: 42px;
    font-weight: bolder;
    /* border: 1px solid black; */
    position: relative;
    margin: 0px;
    right: 140px;

    
}

.nav-menu{
    /* border: 2px solid black; */
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    font-weight: bolder;

}

.nav-menu a{
     text-decoration: none;
     cursor: pointer;
}
.nav-menu a:hover{
    color: gray;
}


.nav-actions{
    /* border: 2px solid rgb(221, 28, 28); */
}

.nav-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-login {
    padding: 10px 20px;
    background-color: transparent;
    color: #999;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.btn-signup {
    padding: 10px 24px;
    background-color: #4CAF8F;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease;
}




/* ---------------------------------------------------hero section------------------- */


.hero{
    /* border: 1px solid black; */
    display: flex;
    color: black;
}
.hero-title{
    /* border: 1px solid black; */
    margin: 20px 90px 0px 70px;
    font-size: 65px;
    
}

.hero-description{
    /* border: 1px solid black; */
    margin: 190px 350px 50px 70px;
    font-size: 25px;
    font-weight: lighter;
}

.hero-buttons {
    position: relative;
    right: 210px;
    margin: 0px 180px 0px;
    display: flex;
    justify-content: space-evenly;  
}


.btn-primary {
    background-color: #54BD95;
    border: none;
    border-radius: 15px;
    padding: 20px;
}

.btn-secondary {
    padding: 12px 24px;
    background-color: transparent;
    color: #333;
    /* border: 1.5px solid #ddd; */
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    gap: 8px;
    position: relative;
    right: 100px;
}

.hero-image{
   
}
.hero-text{
    /* border: 1px solid black; */
    margin: 10px 120px;
}

.hero-trust{
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin: 80px 300px;
}

.brand-logos{
    display: flex;
    justify-content: space-evenly;
    color: gray;
    font-weight: bolder;

}


/* ------------------------------------------------------------------support section-------- */

.support-section{
    background-color: #ccd2d1;
    color: black;
    /* border: 1px solid black; */
    margin: 50px 120px;
    display: flex;

}

.support-left{
    /* border: 1px solid black; */
    /* display: flex;
    flex-direction: column; */
}

.support-title{
    font-size: 30px;
    /* border: 1px solid black; */
    margin: 60px 300px 0px 200px;
    font-weight: bold;
}


.support-description{
    /* border: 1px solid black; */
    margin: 30px 500px 0px 200px;
    font-weight: lighter;
    color: gray;

}

.ratings{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    margin: 30px 500px 0px 200px;
}
.rating-card{
    /* border: 1px solid black; */
    margin: 0px 10px;
}

/*------------------------------------------------------------------- right */
.support-right{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 350px 0px 0px ;

}
.flex-support{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* position: relative; */
    
}
.flex-support img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    margin: 30px 10px 0px;
}

.feature-item{
    /* border: 1px solid rgb(69, 25, 25); */
    display: flex;
    flex-direction: column;
}
/*---------------------------------------------------------- feature section */
.features-section{
    color: black;
    /* border: 1px solid black; */
    margin: 0px 0px 0px 0px;
}
.features-container{
    /* border: 1px solid black; */
    margin: 15px 150px 0px 120px;
    display: flex;
    justify-content: space-evenly;
}
.features-title{
    /* border: 1px solid black; */
    margin: 0px 20px 0px 80px;
    font-size: 30px;
}

.features-description{
    font-size: 20px;
    margin: 8px 80px;
    /* border: 1px solid black; */
    width: 600px;
   
}


.features-button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    margin: 20px 0px;
    background-color: #54BD95;
    color: white;
    border: none;
}

.features-imgcontainer{
   /* border: 1px solid rebeccapurple; */
   margin: 40px 50px 0px 195px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   color: black;
    
}

.feature-content{
   width: 400px;
   /* border: 2px solid green; */
}

.feature-title{
    /* border: 1px solid black; */
    font-size: 36px;
    font-weight: bold;
}

.feature-text{
    /* border: 1px solid black; */
    font-size: 16px;
    font-weight: lighter;
    color: rgb(166, 162, 162);
}



/* --------------------------------------------------------------benefits list */

.benefits-section{
    display: flex;
    /* border: 2px solid black; */
    color: black;
    margin: 20px 0px;
}

.benefits-header{
    /* border: 2px solid black; */
    display: flex;
    flex-direction:  column;
    margin: 10px 300px;
    font-size: 30px;
    width: 400px;
}
.benefits-list{
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 20px;
    font-size: 20px;
}
.benefits-image-container{
    margin: 40px 0px 0px 80px;
}
.benefits-image-container img{
    height: 110%;
}

/* --------------------------------------------------------------------payment  */

.pricing-section {
  /* border: 2px solid black; */
  margin: 130px 0px;
}

.pricing-header {
    color: black;
    margin: 20px 750px;
}

.pricing-title {
    width: 550px;
    font-size: 48px;
}

.pricing-subtitle {
    color: gray;
    font-size: 22px;
    font-weight: bolder;
    margin: 0px 10px;

}



/* 2btn */
.pricing-toggle {
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 40px auto;

}

.toggle-btn {
    padding: 10px 40px;
    border-radius: 15px;
    background-color: white;
    border: none;
    font-size: 16px;
}

.active {
    background-color: #54BD95;
    color: white;
}

.pricing-cards{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px 0px 130px;
    color: black;

}
.pricing-card{
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px 0px;
}

.pricing-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.plan-name {
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0px 0px 150px;
}

.plan-description {
    color: gray;
    margin: 20px 20px 0px 20px;
    text-align: center;
}

.plan-price {
    font-weight: bolder;
    margin: 10px 160px;
}

.plan-features {
    /* border: 2px solid black; */
    /* border: none; */
    margin: 20px 20px;
    background-color: #F9FAFB;
    border-radius: 20px;
    /* width: 350px; */
}

.feature-item {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 40px;
    justify-content: center;
    position: relative;
    left: 80px;
    font-size: 16px;
}



/* pro */
.plan-save {
    background-color: #93f0cd;
    width: 120px;
    height: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}


.plan-button {
    width: 200px;
    padding: 10px 40px;
    border: none;
    background-color: rgb(230, 230, 230);
    color: #54BD95;
    margin: 0px 0px 30px 70px;
    border-radius: 15px;
}

.featured {
    background-color: #54BD95;
    color: white;
}

.featured .plan-description {
    color: white;
}

.featured .plan-button {
    background-color: #54BD95;
    color: white;
    margin: 10px 50px;
}

.featured .plan-features {
    background-color: #FFFFFF;
    color: black;
}
.feature-item{
    border: none;
}