body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    max-width: 100%;
    min-height: auto;
    background-color: #d1d1d100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;


}

.header {
    /* border: 1px solid black; */
    background-color: white;
    margin: 0px 15px;
}

.header-container {
    margin: 10px 0px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;

}

.header-top {
    margin: 10px 0px;
    /* border: 1px solid black; */
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-bottom {
    margin: 10px 10px;
    width: 700px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.header-icons {
    display: flex;
    justify-content: space-around;
    gap: 70px;
    position: relative;
    bottom: 55px;
}


.header-icons img {
    width: 16px;
    height: 17px;
}

.search-input {
    width: 800px;
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.096);
}

.nav-menu,
a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    gap: 35px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    justify-content: space-evenly;
    padding: 0px 15px;
}

.nav-menu {
    margin: 0px 10px 0px 40px;
    /* border: 1px solid black; */
}

/* <!-- ---------------------------------------------------------------hero section --> */
.hero {
    border: 1px solid black;
    background-image: url("./Sleek\ modern\ smartphone.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    height: 140vh;
    margin: 10px 15px;
}

.hero-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin: 450px 70px;
    color: white;
}

.hero-label {
    font-size: 24px;
    font-weight: bolder;
    color: #e9edf1;
}

.hero-title {
    width: 440px;
    font-size: 96px;
}

.hero-description {
    width: 567px;
    font-size: 24px;
    font-weight: lighter;
    line-height: 32px;
    color: rgb(194, 194, 194);
}

.hero-buttons {
    display: flex;
    gap: 10px;
}

.btn-primary {
    width: 150px;
    padding: 20px;
    border-radius: 30px;
    font-size: 18px;
}

.btn-secondary {
    width: 150px;
    padding: 20px;
    border-radius: 30px;
    background-color: transparent;
    border: none;
    /* border: 1px solid whitesmoke; */
    color: white;
    font-size: 18px;

}

/* <!-- =---------------------------------------------------------------categories --> */

.categories {
    /* border: 1px solid black; */
    margin: 10px 15px;
}

.categories-container {
    /* border: 1px solid black; */
    margin: 5px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(209, 208, 208);
}

.category-card1 {
    background-image: url("https://imgs.search.brave.com/W8CktNR-swo6H4eHYiKe1jYopt8SeKjd__uC_JELZOQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS1pay5jcm9tYS5j/b20vcHJvZC9odHRw/czovL21lZGlhLnRh/dGFjcm9tYS5jb20v/Q3JvbWElMjBBc3Nl/dHMvQ29tbXVuaWNh/dGlvbi9Nb2JpbGVz/L0ltYWdlcy8zMTAy/OThfMF9mdmdvYWMu/cG5n");
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 40vh;
    background-color: black;
    background-position: center;
    margin: 70px 0px;
    border-radius: 30px;
}

.category-card2 {
    background-image: url("https://imgs.search.brave.com/3RHyQgg2xQUyLvJtAfyL9FIG-ZRbdUYuHDhAcE3X26g/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE1/ODA1MjIxNTQwNzEt/YzZjYTQ3YTg1OWFk/P2ZtPWpwZyZxPTYw/Jnc9MzAwMCZpeGxp/Yj1yYi00LjEuMCZp/eGlkPU0zd3hNakEz/ZkRCOE1IeHpaV0Z5/WTJoOE4zeDhiR0Z3/ZEc5d0pUSXdjMk55/WldWdWZHVnVmREI4/ZkRCOGZId3c");
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 40vh;
    background-color: black;
    background-position: center;
    margin: 10px 12px;
    border-radius: 30px;
}

.category-card3 {
    background-image: url("https://imgs.search.brave.com/gRCk5cWLSPMlSXLT-ZLk9Ut8smKGjDTExuhXdypbfFY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS50YXRhY3JvbWEu/Y29tL0Nyb21hJTIw/QXNzZXRzL0NvbXB1/dGVycyUyMFBlcmlw/aGVyYWxzL1RhYmxl/dHMlMjBhbmQlMjBp/UGFkcy9JbWFnZXMv/MzExNzAxXzBfczRj/cXUxLnBuZw");
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 40vh;
    background-color: black;
    background-position: center;
    margin: 10px 12px;
    border-radius: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.category-title {
    margin: 0px 30px;
    font-size: 26px;
    font-weight: bold;

}

.category-price {
    margin: 20px 30px;
    font-weight: 100;
}


/* <!-- -------------------------------------------------------------------------------feature products --> */
.featured-products {
    border: 1px solid black;
    /* margin: 10px 15px; */
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.featured-header {
    /* border: 1px solid black; */
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-title {
    /* border: 1px solid black; */
    margin: 0px 20px;
    gap: 8px;
}

.featured-title h1{
    font-size: 40px;
}
.featured-title p{
    color: #64748B;
    margin-bottom: 80px;
}


/* ---------------products-grid */
.products-grid {
    /* border: 1px solid black;  */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 24px; */
}

.product-card {
    border: 1px solid #F1F5F9;
    /* margin: 10px 0px; */
    margin-right: 120px;
    border-radius: 15px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-width: 280px;
    min-height: 480px;
}

.product-img{
    margin-bottom: 70px;
    position: relative;
}

.product-card img {
    width: 240px;
    height: 240px;
}

.product-img p{
    position: absolute;
    background-color: #0058BC;
    border-radius: 20px;
    color: white;
    min-width: 25px;
    min-height: 15px;
    padding: 2px 4px;
    font-size: 10px;
    bottom: 148px;
    left: 20px;
}


.product-des{
    min-width: 240px;
}

.product-rating {
    display: flex;
    font-size: 12px;
    font-weight: 400;
    color:  gray;
    gap: 5px;
}
.product-price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.add-cart{
    padding: 12px 75px;
    border-radius: 10px;
    border: 1px solid #007AFF;
    color: #0058Bc;
    font-size: 18px;
    font-weight: bold;
    background-color: #9a9a9a00;
  
}






















/* <!-- ------------------------------------------------------------- flash-sales--> */



.flash-sale {
    /* border: 1px solid rgb(199, 46, 213); */
    background-color: #020617;
    color: white;
    display: flex;
    padding: 80px 24px;
   
}

.sale-info{
    /* border: 1px solid yellow; */
    padding: 8px 0px;
    display: flex;
    flex-direction: column;
}

.sale-label{
    color: #0058Bc;
    font-size: 14px;

}

.sale-title{
    /* border: 1px solid yellowgreen; */
    width: 440px;
    font-size: 50px;

}
.sale-description {
    width: 350px;
    font-size: 16px;
}

.sale-image{
    padding: 24px;
}

.sale-image img{
    width: 16px;
    height: 36px;
    
}

/* countdown */
.countdown {
    display: flex;
    gap: 20px;
}

.time-box {
    background-color: #0058Bc;
    width: 80px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    border-radius: 15px;
}

.time-number {
    font-size: 24px;
    position: relative;
    top: 20px;
}

.time-label {
    font-size: 12px;
    position: relative;
    bottom: 10px;

}
/* sale products */
.sale-products{
    /* border: 1px solid yellow; */
    padding: 120px 24px 100px 75px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.sale-card{
    border: 1px solid #FFFFFF1A;
    border-radius: 15px;
    /* margin: 10px; */
    width: 650px;
    height: 200px;
    display: flex;
}

.sale-card img{
    padding: 24px;
}

.sale-details{
    padding: 24px 96px 24px 0px;
    width: 140px;
}


.product-title{
    font-size: 14px;
}
.product-price{
    font-size: 13px;
    color: #0058BC;
}

.stock-progress{
    height: 4px;
}

.stock-text{
    font-size: 10px;
    font-weight: 300;
    color: #9a9a9a;
}











/* <!-- ---------------------------------------------------------------------ads---- --> */
.brand-container {
    /* border: 1px solid black; */
    display: flex;
    gap: 360px;
    margin: 20px 30px;
    color: gray;

}

/* <!-- ---------------------------------------------------------------features --> */


.features {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows: 300px;
    justify-content: space-evenly;
    /* gap: 30px; */
    margin: 10px 0px;
}

.feature {
    border: 1px solid black;
    background-color: rgb(237, 246, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
    border: none;

}

.feature img {
    width: 64px;
    height: 64px;
    margin: 0;
    padding: 0px 10px 70px 0px;
}

.feature h1 {
    font-size: 18px;
    font-weight: 700;

}

.feature p {
    color: gray;
    font-size: 15px;
    position: relative;
    bottom: 20px;
}

/* <!-- ----------------------------------------------------------------What Our Customers Say --> */

.testimonials {
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    margin: 10px 15px;
}

.testimonial-header {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.testimonial-container {
    border: 1px solid black;
    margin: 10px 0px;
    display: flex;
    background-color: antiquewhite;

}

.testimonial-card {
    border: 1px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.estimonial-card p {}

.customer {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
}

.customer img {
    border: 1px solid black;

}


/* --------------------------------------------------------newsletter--------------------- */

.newsletter {
    border: 1px solid black;
    margin: 20px 15px;
    /*#007AFF */
    background: linear-gradient(65deg, #007AFF 10%, #00C6FF 85%, #007AFF);
    border-radius: 20px;
    height: 380px;
}

.newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.newsletter-content h1 {
    color: white;
    font-size: 40px;
    margin: 50px 120px 0px;
}

.newsletter-content p {
    color: rgba(255, 255, 255, 0.529);
    font-size: 18px;
    width: 500px;
    margin: 30px 70px 40px;

}

.newsletter-form {
    display: flex;
    gap: 10px;
}

.newsletter-form input {
    width: 500px;
    height: 20px;
    padding: 19px 20px;
    background-color: #dedcdc33;
    border-radius: 20px;
    border: none;
}

.newsletter-form button {
    background-color: white;
    font-weight: bolder;
    width: 160px;
    height: 60px;
    padding: 17px 40px;
    border-radius: 15px;
    border: none;
}



/* --------------------------------------------------FOOTER SECTION ------------ */
.footer-container {
    border: 1px solid black;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.footer-grid {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: space-around;

}

.footer-column {
    border: 1px solid black;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


}

.footer-column h3 {
    font-size: 18px;
    font-weight: 800;
}

.social-icons {
    display: flex;
    gap: 20px;
    color: #e9edf1;
}

.social-icons a {
    background-color: gainsboro;
    border-radius: 60%;

}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.137);

}

.footer-links a {
    line-height: 3;
}

.contact-item span {
    color: rgba(34, 34, 34, 0.723);
    line-height: 3;

}

.footer-bottom {
    text-align: center;
    color: #9a9a9a;
    padding-bottom: 60px;
    font-size: 18px;
}